[tool.poetry]
name = "centralcli"
version = "0.17.8"
description = "A CLI for interacting with Aruba Central (Cloud Management Platform).  Facilitates bulk imports, exports, reporting.  A handy tool if you have devices managed by Aruba Central."
license = "MIT"
authors = ["Wade Wells (Pack3tL0ss) <wade@consolepi.org>"]
maintainers = ["Wade Wells (Pack3tL0ss) <wade@consolepi.org>"]
readme = "README.md"
repository = "https://github.com/Pack3tL0ss/central-api-cli"
documentation = "https://central-api-cli.readthedocs.org"
keywords = [
    "cli",
    "Aruba",
    "Aruba Networks",
    "Aruba Central",
    "HPE",
    "API",
    "RESTFUL"
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.7"
]

[tool.poetry.scripts]
cencli = "centralcli.cli:app"

[tool.poetry.dependencies]
python = "^3.7"
cchardet = "^2.1.*"
colorama = "^0.4.*"
Pygments = "^2"
tabulate = "^0.8.*"
halo = "^0.0.*"
typer = "^0.4"
certifi = "*"
idna = "^3"
pylibyaml = "^0.1.0"
PyYAML = "^6"
urllib3 = "^1"
tinydb = "^4"
shellingham = "^1"
pendulum = "^2"
pycentral = "^0.0.3"
aiohttp = "^3"
asyncio = "^3"
rich = "^10"
tablib = "^3"

[tool.poetry.dev-dependencies]
pyflakes = "^2"
pycodestyle = "^2"
# mccabe = "^0.6.1"
flake8 = "^4"
pytest = "^6"
black = "^21.*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning"
]
