[tool.poetry]
name = "centralcli"
version = "0.12a1"
description = "A CLI for interacting with Aruba Central (Cloud Management Platform).  Facilitates bulk imports, exports, reporting.  A handy tool if you have devices managed by Aruba Central."
license = "MIT"
authors = ["Wade Wells (Pack3tL0ss) <wade@consolepi.org>"]
maintainers = ["Wade Wells (Pack3tL0ss) <wade@consolepi.org>"]
readme = "README.md"
repository = "https://github.com/Pack3tL0ss/central-api-cli"
# documentation = "https://central-api-cli.readthedocs.org"
keywords = [
    "cli",
    "Aruba Networks",
    "Aruba Central",
    "HPE",
    "API"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.7"
]

[tool.poetry.scripts]
cencli = "centralcli.cli:app"

[tool.poetry.dependencies]
python = "^3.7"
cchardet = "^2.1.7"
colorama = "^0.4.4"
Pygments = "^2.7.3"
tabulate = "^0.8.7"
halo = "^0.0.31"
typer = "^0.3.2"
certifi = "^2020.12.5"
idna = "^2.10"
pylibyaml = "^0.1.0"
PyYAML = "^5.3.1"
urllib3 = "^1.26.2"
tinydb = "^4.3.0"
shellingham = "^1.3.2"
pendulum = "^2.1.2"
pycentral = "^0.0.3"
aiohttp = "^3.7.3"
asyncio = "^3.4.3"
rich = "^9.10.0"
tablib = "^3.0.0"

[tool.poetry.dev-dependencies]
pyflakes = "^2.2.0"
pycodestyle = "^2.6.0"
mccabe = "^0.6.1"
flake8 = "^3.8.4"
pytest = "^6.2.2"
black = "^20.8b1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning"
]
