cchardet
pylibyaml
pyYAML
click-spinner
colorlog
colorama
halo
pendulum
pycentral>=0.0.3
pygments
shellingham
tabulate
tinydb
typer
aiohttp
asyncio
tablib
rich>=10.0
sphinx_click
fastapi
uvicorn
jinja2
