colorama
click
pygments
tabulate
halo
typer==0.10.0
pylibyaml
pyYAML
tinydb
shellingham
pendulum
pycentral>=0.0.3
aiohttp
asyncio
rich>=10.0
tablib
jinja2
fastapi
uvicorn
psutil
pydantic >=1.9.0,<2.0.0
ipaddress
fuzzywuzzy
levenshtein
