colorama
click<=7.1.2
pygments
tabulate
typer==0.10.0
pylibyaml
pyYAML
tinydb
shellingham
pendulum
pycentral>=0.0.3
aiohttp
asyncio
rich>=10.0
tablib
jinja2
fastapi
uvicorn
psutil
pydantic >=2.0.0
ipaddress
fuzzywuzzy
levenshtein
uniplot
protobuf
eval_type_backport # only necessary if python < 3.10
